{% extends "base.html" %}

{% block content %}
    <h1>Add a Stock</h1>
    <form method="post">
        <label for="stockSymbol">Stock Symbol:</label>
        <input type="text" id="stockSymbol" name="stock_symbol">
        <br>
        <label for="numberOfShares">Number of Share:</label>
        <input type="text" id="numberOfShares" name="number_of_shares">
        <br>
        <label for="purchasePrice">Purchase Price ($):</label>
        <input type="text" id="purchasePrice" name="purchase_price">
        <br>
        <input type="submit">
    </form>
{% endblock %}